@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap");
.body {
  font-family: "Raleway", sans-serif;
  background: #e0e0e0;
  /* background-image: url("images/background.svg"); */
  background-size: cover;
  background-position: top center;
  margin: 0;
  padding: 0px;
  overflow-y: scroll;
  background-color: #fff;
}
.body::-webkit-scrollbar {
  display: none;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-istyle:focus {
  background-color: rgba(255, 255, 255, 0.6);
}
.container {
  max-width: 400px;
  /* min-width: 400px; */
  flex: o.5;
  max-height: 100vh;
  background-color: lightgrey;
  border-radius: 40px !important;
  box-shadow: 6px 6px 8px 6px #b8b7b7;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
.title {
  font-weight: 700;
  font-size: 50px;
}
.form-rounded {
  border-radius: 2em;
}
.city {
  border-radius: 40px;
  border-bottom: none;
}
.title {
  color: white;
  font-weight: 900;
}
.temp span {
  font-weight: 100;
  font-size: 5em;
  letter-spacing: -5px;
  white-space: nowrap;
}

.card-mid {
  line-height: 0.5;
  flex: 0.3;
}
@media only screen and (max-width: 600px) {
  .card-mid {
    flex-direction: column;
  }
  .container {
    flex: 0.5;
  }
  .forecast {
    flex: 0.5;
    bottom: 0;
    flex-direction: row;
    overflow-x: scroll;
    /* padding: 20px; */
    margin-right: 25px;
    /* position: fixed; */
  }
  .content__forecast {
    flex-direction: column;
  }
  .temp__inf {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .condition {
    flex: 0.3;
  }
  .high {
    flex: 0.3;
  }
  .low {
    flex: 0.3;
  }
}
.condition {
  line-height: 1em;
  font-weight: 700;
  font-size: 1em;
  text-transform: capitalize;
}

.back__card {
  border-radius: 40px !important;
}
.high::before {
  content: "";
  background: url("images/up.svg") no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.low::before {
  content: "";
  background: url("images/down.svg") no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.icon-container {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container img {
  margin: auto;
  object-fit: contain;
}
.city-name {
  position: absolute;
  width: 100%;
}
.city-name p {
  font-size: 16pt;
  font-weight: 600;
  color: white;
}
.city-name span {
  position: relative;
  font-weight: 600;
  font-size: 36pt;
  font-family: "Times New Roman", Times, serif;
  top: -60px;
  color: white;
}
.card-bottom {
  line-height: 0.5;
}
.card__information {
  display: flex;
  flex-direction: column;
}

.card-bottom span {
  font-size: 12px;
}
.card-bottom p {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: -2px;
  display: flex;
}
.text-black {
  color: black;
}
.search__location {
  padding: 20px 20px 10px 20px;
}
.content__forecast {
  display: flex;
  flex: 0.7;
}
.forecast {
  /* max-width: 300px; */
  min-width: 180px;
  flex: 0.5;
  max-height: 100vh;
  background-color: white;
  border-radius: 40px !important;
  box-shadow: 6px 6px 8px 6px #b8b7b7;
  margin-left: 40px;
  padding: 13px;
  /* flex-direction: column; */
  justify-content: space-evenly;
  /* overflow-y: hidden; */
  overflow-y: visible;
}
.forecast::-webkit-scrollbar {
  display: none;
}
.forecast h1 {
  font-size: 13px;
  color: lighter;
}
.forecast h3 {
  font-size: 10px;
  color: lighter;
}
.forecast__header {
  display: flex;
  justify-content: space-between;
}
.header {
  flex: 0.3;
}
